#paginaprincipal{
    padding-left:4%;
    padding-right: 4%;
    
}

#color{
    color: black;
}

#margin{
    margin: 0;
    padding: 0;
}

#photo{
    height: 100%;
    width: 100%;
    border: 0;
    
}


#titulo{
    color: SteelBlue;
    
}


